* {
  margin: 5px;
  padding: 5px;
  text-align: left;
}

body {
  background: linear-gradient(to right, #000402, #005028);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: floralwhite;
  font-size: x-large;
  width: 500px;
  height: 800px;
  text-align: left;
}
h1 h2 {
  font-size: xx-large;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
p {
  color: aqua;
}

#Prose #Persona #Akaegis #Photos #naval {
  width: 500px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  position: relative;
  list-style: none;
  display: inline-block;
  text-decoration: none;
}
